.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg{
  background-color: rgb(230, 228, 228);
  color: #fff !important;
}

.box{
  background: #000;
  height: 3rem;

}


.form-label {
  margin-bottom: 0;
  /* Remove bottom margin */
}

.form-group {
  margin-bottom: 10px;
  /* Reduce the bottom margin */
}

.custom-input{
    background-color: #f0f0f0;
      /* Change this to your desired background color */
      color: #333;
      /* Change this to your desired text color */
      border: 1px solid red;
}

.ql-toolbar.ql-snow {
  background-color: rgb(230, 228, 228);
}